genmed-api/bin/Debug/netcoreapp3.1/genmed-api.dll
genmed-api/bin/Debug/netcoreapp3.1/genmed-api.pdb
genmed-api/bin/Debug/netcoreapp3.1/genmed-api.runtimeconfig.dev.json
genmed-api/bin/Debug/netcoreapp3.1/genmed-data.dll
genmed-api/bin/Debug/netcoreapp3.1/genmed-data.pdb
genmed-api/obj/genmed-api.csproj.nuget.dgspec.json
genmed-api/obj/genmed-api.csproj.nuget.g.props
genmed-api/obj/project.assets.json
genmed-api/obj/project.nuget.cache
genmed-api/obj/Debug/netcoreapp3.1/genmed-api.assets.cache
genmed-api/obj/Debug/netcoreapp3.1/genmed-api.csproj.CoreCompileInputs.cache
genmed-api/obj/Debug/netcoreapp3.1/genmed-api.csprojAssemblyReference.cache
genmed-api/obj/Debug/netcoreapp3.1/genmed-api.dll
genmed-api/obj/Debug/netcoreapp3.1/genmed-api.pdb
genmed-data/bin/Debug/netstandard2.0/genmed-data.dll
genmed-data/bin/Debug/netstandard2.0/genmed-data.pdb
genmed-data/obj/genmed-data.csproj.nuget.dgspec.json
genmed-data/obj/genmed-data.csproj.nuget.g.props
genmed-data/obj/genmed-data.csproj.nuget.g.targets
genmed-data/obj/project.assets.json
genmed-data/obj/project.nuget.cache
genmed-data/obj/Debug/netstandard2.0/genmed-data.assets.cache
genmed-data/obj/Debug/netstandard2.0/genmed-data.csproj.CoreCompileInputs.cache
genmed-data/obj/Debug/netstandard2.0/genmed-data.csprojAssemblyReference.cache
genmed-data/obj/Debug/netstandard2.0/genmed-data.dll
genmed-data/obj/Debug/netstandard2.0/genmed-data.pdb
genmed-api/bin/Debug/netcoreapp3.1/genmed-api.dll
genmed-api/bin/Debug/netcoreapp3.1/genmed-api.pdb
genmed-api/bin/Debug/netcoreapp3.1/genmed-api.runtimeconfig.dev.json
genmed-api/bin/Debug/netcoreapp3.1/genmed-data.dll
genmed-api/bin/Debug/netcoreapp3.1/genmed-data.pdb
genmed-api/obj/genmed-api.csproj.nuget.dgspec.json
genmed-api/obj/genmed-api.csproj.nuget.g.props
genmed-api/obj/project.assets.json
genmed-api/obj/project.nuget.cache
genmed-api/obj/Debug/netcoreapp3.1/genmed-api.assets.cache
genmed-api/obj/Debug/netcoreapp3.1/genmed-api.csproj.CoreCompileInputs.cache
genmed-api/obj/Debug/netcoreapp3.1/genmed-api.csprojAssemblyReference.cache
genmed-api/obj/Debug/netcoreapp3.1/genmed-api.dll
genmed-api/obj/Debug/netcoreapp3.1/genmed-api.pdb
genmed-data/bin/Debug/netstandard2.0/genmed-data.dll
genmed-data/bin/Debug/netstandard2.0/genmed-data.pdb
genmed-data/obj/genmed-data.csproj.nuget.dgspec.json
genmed-data/obj/genmed-data.csproj.nuget.g.props
genmed-data/obj/genmed-data.csproj.nuget.g.targets
genmed-data/obj/project.assets.json
genmed-data/obj/project.nuget.cache
genmed-data/obj/Debug/netstandard2.0/genmed-data.assets.cache
genmed-data/obj/Debug/netstandard2.0/genmed-data.csproj.CoreCompileInputs.cache
genmed-data/obj/Debug/netstandard2.0/genmed-data.csprojAssemblyReference.cache
genmed-data/obj/Debug/netstandard2.0/genmed-data.dll
genmed-data/obj/Debug/netstandard2.0/genmed-data.pdb
